body {
    border:3px solid black;
    margin: 0;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font: Shrikhand;
    font-weight: bold;
    font-size: 3rem;
}
h2 {
    font-family: 'roboto', sans sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    /*padding: 15px;*/
}
h3 {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}
p {
    font-family: 'roboto';
    font-size: 1.8rem;
}
header {
    display: flex;
    justify-content: center;
}

img {
    object-fit: cover;
    width: 100%;
}
ul {
    list-style-type: none;
}
.padtop {
    padding-top: 25px;
}
.paddingleft {
    padding-left: 15px;
}
.texttransform {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'roboto';
    text-decoration-line: underline;
    text-decoration-color: #99E2D0;
}

.texttransresto {
    font-family: 'Shrikhand';
    font-weight: 700;
    font-size: 2.2rem;
}
.texttransfoplat {
    font-family: 'roboto';
    font-weight: bold;
    font-size: 1.5rem;
}
.texttransformaccp {
    font-family: 'roboto';
    font-weight: 70;
    font-size: 1.4rem;
}
.center {
    text-align: center;
    align-items: center;
}
.bold {
    font-size: 1,9rem;
    font-weight: bold;
    text-align: justify;
}
/* index.html première partie : présentation */
.presentation {
    display: flex;
    flex-direction: column;
}
.localisation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #bababa;
    align-items: baseline;
}
.localisation p {
    padding-left: 20px;
    padding-top: 10px;

}
.exploration {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    background-color:  #d4d4d4;
    align-items: center;
    border: 3px solid blue;
}


.btn_secondary {
        background-color: #FF79DA;
        color: white;
        border: none;
}
.btn_haut {
    Height: 40px;
    border-radius: 30px;
    padding: 20px;
}
.btn_center {
    margin: 30px;
}
/* section fonctionnement*/
.fonctionnement {
    display: flex;
    flex-direction: column;
}
.fonctionnement h2 {
    padding-left: 15px;
}
.fonctionnement ul {
    margin:0;
    padding:0;
}
.fonctionnement li {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
}
.btn_rond {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-right: -15px;
    }
.btn_item {
    height: 40px;

}
.item  {
    display : flex;
    flex-direction: row;
    background-color: #d4d4d4;
    border-radius: 25px;
    height: 60px;
    width: 90%;
    padding-left: -15px;
    align-items: center;
    justify-content: flex-start;
}
.icn {
    color:#bababa;
    padding-right: 30px;
    padding-left:30px;
}
/* section des restaurants */


.restaurants {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #d4d4d4;
    justify-content: center;
    align-items: center;
    text-align: left;

}
/*
.titre {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1,8rem;
}
*/
.présentation_restaurant {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 350px;
    border-radius: 20px ;
    background-color: white;
    margin-bottom: 25px;
}

.présentation_restaurant img {
    object-fit: cover;
    width: 100%;
    height: 64%;
    border-radius: 20px 20px 0px 0px;
}
.restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.restaurant :hover {
    border: 3px solid blue;
}
.nom_resto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width:80%;
}
.nom_resto :hover {
    background-color: #FF79DA;
}
.icon {
    display: flex;
    align-items: center;
    width: 10%;
}
.vide {
    color: white;
    background-color: #FF79DA;
}

.plein {
    color: black;
    background-color: #bababa;
}
.footer {
    color: white;
    background-color: #4f4f4f;
    padding: 20px;
}

.logo_footer  {
    font-family: 'Shrikhand';
    font-size: 2rem;

}

.menu_footer li {
    line-height: 2,5rem;
    margin-top: 15px;
    justify-content: space-around;
}
.footer .fas {
    margin-right: 10px;
}
/*
.bg-primary : #9356DC
.bg-secondary:#FF79DA
.bg-tertiary: #99E2D0
*/
/* les menus_html*/
.menu {
    display: flex;
    flex-direction: column;
    background-color: #bababa;
    border-radius: 40px;
    margin-top: -30px;
}
.item_plat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    border-radius: 20px;
    background-color: white;
    width : 95%;
    margin: 20px;
    padding: 0px;
    box-shadow: 3px 2px 2px black;
}
.item_plat :hover {
    box-shadow: 6px 4px 4px black
}
