body {
    margin: 0;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font: Shrikhand;
    font-weight: bold;
    font-size: 3rem;
}
h2 {
    font-family: 'roboto',  sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    /*padding: 15px;*/
}
h3 {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0px;
}
h4 {
  font-family: 'roboto', sans-serif;

  font-weight: normal;
  font-size: 1rem;
}
p {
    font-family: 'roboto', sans-serif;

    font-weight: inherit;
    font-size: 1rem;
    padding: 0px;
}
header {
    display: flex;
    justify-content: center;
}
/*
img {
    object-fit: cover;
    width: 100%;
    z-index: 0;
}
*/
ul {
    list-style-type: none;
    padding-inline-start: 0px;
}


/*
.lds-spinner {
  color: black;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*/
@keyframes loading {

  0%{
    transform: scale(0);
    opacity: 1;

  }
  25%{
    opacity:1;
  }
  50%{
    opacity:1;
    transform: scale(1);

  }
  75%{
    opacity:0.50;
    transform: scale(0.5);
  }
  100%{
    opacity: 0;
    transform: scale(0);
    transform: translate(1000px);
  }

}
@keyframes affichage {
  from{
    opacity:0;
    transform: scale(0);
  }
  to{
    opacity:1;
    transform: scale(1);
  }
}
/*
@keyframes menu{
    0% {
        scale(0);
        transform: translateX(+9999px);
    }
    100% {
        scale(1);
        transform: translateX(0);
    }
}

*/
@keyframes menu {
  0%{
    opacity:0;
  }
  50%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.loading {
  position:absolute;
  top: 250px;
  left:60px;
  right:60px;
  animation-name: loading;
  animation-timing-function: ease;
  animation-duration: 5s;
  display:flex;
  flex-direction: column;
  align-items: center;
  opacity:0;
  transform: scale(0);
  z-index: -10;
/*
  display: none;
  align-content:center;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 120px;
  border-radius: 0px 20px 20px 0px;
  z-index: 100;
  opacity: 1;
  transition: transfrom 4s;
  /*opacity: 1;*/
}
.chargement {
  animation-name: menu;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
  z-index:0;

}
.spinner {
  font-family: 'Shrikhand', cursive;
  font: Shrikhand;
  font-weight: bold;
  font-size: 5rem;
}


.padtop {
    padding-top: 25px;
}
.paddingleft {
    padding-left: 2%;
}
.texttransform {
    text-transform: uppercase;
    position: relative;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'roboto';
    padding-bottom: 10px;

}
.texttransform:before{
    content:"";
    position: absolute;
    width: 50px;
    padding-bottom: 40px;
    border-bottom: 3px solid #99E2D0;

}

.texttransresto {
    font-family: 'Shrikhand';
    font-weight: 700;
    font-size: 2.6rem;
}
.texttransfoplat {
    font-family: 'roboto';

    font-weight: bold;

    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%
}
.texttransformaccp {
    font-family: 'roboto';
    /*
    font-weight: 70;
    */
    font-weight: 50;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:100%;
}
.center {
    text-align: center;
    align-items: center;
}
.bold {
    font-size: 1,9rem;
    font-weight: bold;
    text-align: justify;
}
/* index.html première partie : présentation */
.presentation {
    /*
    animation-duration: 3000ms;
    animation-name: affichage;
    */
    display: flex;
    flex-direction: column;
}
.localisation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #E8E8E8;
    align-items: baseline;
}
.localisation p {
    padding-left: 20px;
    padding-top: 10px;

}
.exploration {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    background-color: #F8F8F8;
    align-items: center;
}
.background_grey {
  background-color: #F8F8F8;
}
.position_titre {
  margin: 0px;
  padding: 15px 30px 30px 30px;
}
/*
.background {
  linear-gradient:
}
*/
.btn_secondary {
  /*
        background-color: linear-gradient (#ff91e1, #FF79DA);
*/
        background-color: #FF79DA;
        background: linear-gradient(45deg, #FF79DA, #cf159b);
        /*
        background-color : linear-gradient (#FF79DA,#D3D3D3);
        */
        color: white;
        border: none;
}
.btn_haut {
    border-radius: 30px;
    padding: 20px;
}
.btn_center {
    margin: 30px;
    align-items: center;
    box-shadow:  2px 1px 1px  #C8C8C8;
    transition: transform 400ms;

}
.btn_center:hover {
  cursor: pointer;
  transform: scale(1.15); box-shadow: 4px 2px 2px  #D3D3D3; background-color: #f257c7;

}
.btn_rond {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-right: -15px;
    z-index: 2;
    }
.btn_item {
    height: 50px;
}

.btn_com {
  width: 250px;
  font-size: 1.5rem;
}
.btn_explo {
  width: 300px;
  font-size: 1.4rem;
}
.btn_largeur{
    width: 120px;
}
.btn_commande {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}
/* section fonctionnement*/
.fonctionnement {
  /*
    animation-duration: 2000ms;
    animation-name: affichage;
    animation-delay: 1000ms;
    */
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.fonctionnement h2 {
    padding-left: 15px;
}
.fonctionnement ul {
    margin:0;
    padding:0;

}
.fonctionnement li {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
}

.item  {
    display : flex;
    flex-direction: row;
    background-color: #F8F8F8;
    font-size: 1.3rem;
    border-radius: 30px;
    height: 70px;
    width: 95%;
    padding-left: -15px;
    align-items: center;
    justify-content: flex-start;
}
.item:hover {
  /*
    display : flex;
    flex-direction: row;
    */
    background-color: #99E2D0;
    box-shadow: 5px 3px 3px #d4d4d4 ;

    /*
    border-radius: 25px;
    height: 70px;
    width: 90%;
    padding-left: -15px;
    align-items: center;
    justify-content: flex-start;

    color: #FF79DA;
    */

}
.icn {
    color:black;
    padding-right: 15px;
    padding-left: 25px;
}
.item:hover > .icn{
    color: #FF79DA;
}
/* section restaurant */

.menu_res {

    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}


.presentation_restaurant {
  /*
    animation-duration: 3000ms;
    animation-name: affichage;
    animation-delay: 2000ms;
    */
    display: flex;
    flex-direction: column;
    position:relative;
    width: 80%;
    border-radius: 20px ;
    background-color: white;
    justify-content: center;
    box-shadow: 4px 2px 2px #E8E8E8;
    text-decoration: none;
    color: black;
    margin: 10px;


}
.etiquette {
  position: absolute;
  top:20px;
  left: 69%;
  padding: 10px;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #5a9c8b;
}
/*
.presentation_restaurant > .etiquette {

  position: absolute;
  top:20px;
  left:20px;
  background
  transition: transform 400ms;


}
*/
  /*
  transform: scale (0);
  animation-name: affichage;
  animation-duration: 30s;
  animation-delay: 10s;
  */
  /*
.presentation_restaurant:hover > .etiquette {
  transform:scale(1);
  display: flex;
  z-index:50;
}
*/


/*
.presentation_restaurant a {
    display:block;
    text-decoration: none;
    display:flex;
    flex-direction: column;
    width: 80%;
    height: 100px;
    border-radius: 20px ;
    background-color: white;

}
*/
.presentation_restaurant img {
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
    text-decoration: none;
}
.presentation_restaurant:hover {
    box-shadow: 5px 3px 3px #C0C0C0;

}
.restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35%;
}

.nom_resto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width:70%;
}

.heart_card {
		position: relative;
	}

	.fa-heart {
		font-size: 30px;
	}

	.fa.fa-heart {
		position: absolute;
		font-size: 30px;
		color: transparent;
		background: linear-gradient(#DC6EDA, #A15ADC);
		background-clip: text;
		transform: scale(0);
		-webkit-background-clip: text;
		transition-property: transform;
		transition-duration: 1000ms;
		top: 0;
		left: 0;
	}

	.heart_card:hover > .fa.fa-heart {
		transform: scale(1.1);
	}

	.heart_card:hover > .far.fa-heart {
		transform: scale(0);
		transition-delay: 1s;
	}
/*
.icon {
    display: flex;
    align-items: center;
    width: 15%;
}

.vide {
  position: absolute;

    position: absolute;
    top: 100px; left:100px;

    z-index: 50;
    font-size: 1.8rem;
    color: black;
    transition : 400ms;
}


.plein {
 position: absolute;
  /*position: absolute;
  top: 20px; left:20px;

  opacity:0;
  z-index: 100;
  font-size: 1.8rem;
  color:white;

  transition: all 2000ms ease-in-out;
  transform-origin: bottom;
  transition-property:color;

}


.plein:active {

 transform:  position: relative; scale(1.8); z-index: 100; color: #FF79DA;
}


.plein:hover {
  transform: scaleX(1.1); opacity:1; color:#FF79DA;

  }

.icon {
transition: 400ms;
}
.icon:hover {

    transform: color:#FF79DA;
}
*/

.footer {
    color: white;
    background-color: #4f4f4f;
    padding: 20px;
}

.logo_footer  {
    font-family: 'Shrikhand';
    font-size: 2.3rem;

}

.menu_footer li {
    line-height: 2,5rem;
    margin-top: 15px;
    justify-content: space-around;
}
.footer .fas {
    margin-right: 10px;
}
.lienfooter {
    text-decoration: none;
    color: white;
}
.mail{
  text-decoration: none;
  color: white;
  transition: transform 200ms;
}

.mail:hover {
  cursor: pointer;
  transform: scale(1) ; color: #FF79DA ; font-size: 1.8rem;
}
/*
.bg-primary : #9356DCtrès violet
.bg-secondary:#FF79DA violet
.bg-tertiary: #99E2D0 vert
*/
/* les menus_html*/
.image_restaurant img {
    object-fit: cover;
    width: 100%;
    z-index: -1;
    height: 410px;
    position: absolute;
}

.image_restaurant   {
  margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #E8E8E8;
    border-radius: 40px 40px 0px 0px;;
    margin-top: 370px;
    z-index: 10;
}

.head_resto{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.head_resto h2 {
  width:80%;
}

.item_plat {
  /*
    animation-duration: 6s;
    animation-name: affichage;
*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    border-radius: 20px;
    background-color: white;
    opacity: 1;
    box-shadow: 5px 3px 3px #D8D8D8;


    margin: 10px;
    padding: 0px;
  }
.entree {
  animation-duration: 3s;
  animation-name: affichage;
}
.resist {
  animation-duration: 6s;
  animation-name: affichage;
}
.dessert {
  animation-duration: 9s;
  animation-name: affichage;
}
/*
.plat {
  text-overflow: ellipsis;
  white-space: nowrap;
}
*/
.item_plat:hover {
  /*
    animation-name: checked;
    */
    box-shadow: 5px 3px 3px #C0C0C0;

    border-radius: 20px;
    /*
    &__checked {
      display: flex;
      align-content:center;
      justify-content: center;
      align-items: center;
      background-color: #99E2D0;
      width: 120px;
      border-radius: 0px 20px 20px 0px;
      z-index: 3100;
      opacity: 1;
    }
    */
}


.item_plat:hover > div.checked{
/*
animation-name: checked;
animation-duration: 3000ms;
*/
/*
transition: transform 4s;


transform: scaleX(1);
/*
transform-origin: left ;
*/

display:flex;
animation-name: tiroir;
animation-duration: 1s;
animation-timing-function: ease-out;
}
.item_plat:hover > div.checked > .anim{
  /*
  transition: transform 4s;
  transform: scale(2) rotate(0deg) ;
  */
  font-size: 1.5rem;
  color: white;
  animation: tourne 1000ms ease-out;

}
.item_plat:hover > .plat {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  }

/*
.item_plat__checked:hover{
  display: flex;
  align-content:center;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 120px;
  border-radius: 0px 20px 20px 0px;
  z-index: 3100;
  opacity: 1;
}
*/
@keyframes tiroir {
  0%{
    width: 0px;
  }
  /*
  25%{
    width: 30px;
  }
  50²{
    width: 60px;
  }
  75% {
    width: 90px;
  }
  */
  100% {
    width: 120px;

  }
}

@keyframes tourne {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.checked{

  /*transition: 4s ease;
  /*transform: scale(0) ;*/

  display: none;
  align-content:center;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 30%;
  border-radius: 0px 20px 20px 0px;
  z-index: 100;
  opacity: 1;
  transition: transform 4s;
  /*
  display:none;
  */
}


.anim {

  /*transform: scale(0) rotateX(180deg);*/
  color: white;
  /*
  transform: rotate (180deg);
  transition: transform 4s;
  */
}




.plat {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*
.plat h4 p {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*/
.prix {
    display: flex;
    width: 30%;
    z-index: 200;
}
.prix_form {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'roboto';
    align-items: center;
    justify-content: center;

}



/*
.lien_index {
    display: block;
    padding-right: 80px;
    text-align: center;
    padding-top: 60px;
}
*/
.fa-arrow-left {
    font-size: 2rem;
    color: black;
    text-decoration: none;

}
.special {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding-left: 0px;
    background-color: #E8E8E8;

}

.special_titre {
  padding-left: 25px;
}
/*
@media all and (max-width: 500px){

.special_titre {
  font-size: 1.5rem;
}
}
*/
@media all and (min-width: 1024px){
  .special_titre{
    padding-left: 20px;
  }
  .footer {
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .footer_list {
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
  }
.footer_li {
  margin: 40px;
  padding: 20px;
  font-size: 1.5rem;
}
.fonctionnement {
  align-items: center;
}
.fonctionnement ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fonctionnement li {
  width: 400px;
}
.position_titre {
  text-align: center;
}
.menu_res {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.presentation_restaurant {
width : 450px;
}


.etiquette {

  left: 75%;
}
/*
.menu {
  flex-direction: row;
  flex-wrap: wrap;
}
*/
/*
.presentation_restaurant {
  flex-direction: row;

}

*/
@media all and (min-width: 1346px){
  .presentation_restaurant {
  width : 600px;
  }

  .list_plat {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .item_plat {
    width:400px;
  }

}
}